<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Niraj</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <!-- Suggestion Label + Tags in One Row -->
  <div id="command-tags">
    <h4 class="suggestion-label">Suggestions:</h4>
    <span class="cmd-tag" data-question="Tell me about Niraj's education.">&lt;/education&gt;</span>
    <span class="cmd-tag" data-question="What are Niraj's technical skills?">&lt;/skills&gt;</span>
    <span class="cmd-tag" data-question="What experience does Niraj have?">&lt;/experience&gt;</span>
    <span class="cmd-tag" data-question="What are Niraj's interests?">&lt;/interests&gt;</span>
    <span class="cmd-tag" data-question="What are his future goals?">&lt;/goals&gt;</span>
    <span class="cmd-tag download-resume" data-question="Wanna view Niraj Resume?">&lt;/download-resume&gt;</span>

  </div>


  <!-- Terminal Section -->
  <div id="terminal">
    <div id="output">
      <div class="line">👨‍💻 Hi there! This is Niraj. How are you today?</div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
